header {
  width: 100%;
  background-color: rgb(147, 90, 240);
  .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative;

    h1 {
      position: absolute;
      bottom: 20px;
      left: 0;
      a {
        font-weight: 700;
        color: #fff;
        font-size: 24px;
      }
    }
    #gnb {
      position: absolute;
      right: 0;
      bottom: 0;
      li {
        float: left;
        a {
          display: block;
          padding: 20px 30px;
          font-weight: 500;
          font-size: 14px;
          color: #fff;
        }
      }
    }

    .fa-bars {
      display: none;
      position: absolute;
      right: 30px;
      bottom: 20px;
      font-size: 36px;
      color: #fff;
    }
  }
  &.main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: transparent;
  }
}

// tablet
@media screen and (max-width: $tablet) {
  header {
    .inner {
      width: 100%;
      h1 {
        left: 30px;
      }
      #gnb {
        display: none;
      }
      .fa-bars {
        display: block;
      }
    }
  }
}
